/* =============
    Typography
============= */
body {
	font-family: 'Comfortaa', cursive;
}
#section-2-intro {
	font-family: 'Montserrat', sans-serif;
}
#section-3 {
	font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
