/* =============
    Footer
============= */
#footer{
    display: flex;
    align-items:center;
    justify-content: center;

    background-color: $black;

    #footer-content{
        grid-area: footer;
        color: $dark-gray;
    
    }

    #footer-drexel{
        display: flex;
        align-items: flex-end;
    
    }
}