/* =============
    Footer
============= */
#footer {
	align-items: center;
	background-color: $black;
	display: flex;
	justify-content: center;
	#footer-content {
		color: $dark-gray;
		grid-area: footer;
	}
	#footer-drexel {
		align-items: flex-end;
		color: $white;
		display: flex;
	}
}
